body {
    background-image: url(https://images3.alphacoders.com/676/676279.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#nav-bar {
    border: rgba(0, 0, 0, 0.048) solid 1px;
    padding: 40px;
    background-color: #6d6a6ab7;
    border-radius: 15px;

}





#links a{
    text-decoration: none;
    color: #ffffff;
    margin-left: 30px;
    border: solid 1px rgba(0, 0, 0, 0);
    padding: 10px;
    border-radius: 13px;
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0.4s;
    background-color: orangered;


}



#links a:hover{
    transform: translateY(-1px);
    color: orangered;
    background-color: #202020;
    box-shadow: 5px 5px 30px rgb(145, 72, 5);
    background-color: #ffffff;
    
}

#links {
    display:flex;
    justify-content: end;
    font-size: 25px;
    margin-top: -70px;
    
}

.logo {
    width: 120px;
    height: 80px;
    display: flex;
    margin-top: -25px;
    margin-left: 20px;
}


p{
    display: flex;
    font-size: 20px;
    margin-top: 10px;
}

.descrição{
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-left: 60%;
    margin-top: 0%;
    background: #ffffff9f;
    border-radius: 15px;
    color: #202020;

    

}

h1 {
    margin-left: 60%;
    border-bottom: solid 1px black;
    width: 190px;
}


